<% layout('/layouts/boilerplate') -%>

<!-- Script Section for Map -->
<script>
    const mapApi = "<%= process.env.MAP_API_KEY %>";
    const mapLocation = "<%= list.location %>, <%= list.country %>";
    const mapTitle = "<%= list.title %>";
</script>

<div class="row mt-3 col-12 col-lg-8 offset-lg-2">
    <div class="col-12 show-main-div">
        <!-- Listing Title -->
        <h3 class="del-opacity mt-4"><%= list.title %></h3><br>

        <!-- Listing Image -->
        <div class="del-opacity card show-image">
            <img src="<%= list.image.url %>" class="card-img-top" alt="Listing_image">
        </div>

        <!-- Listing Details -->
        <div class="card-body show-body del-opacity">
            <p>
                <h5 class="del-opacity"><b>Owned by:</b> <strong><%= you %></strong></h5><br>
                <%= list.description %><br><br>
                <p class="card-price" style="display: none;"><%= list.price %></p>
                <p class="card-gst" style="display: none;"><%= list.gst %></p>
                <b class="card-price-view">₹<%= (parseInt(list.price) + parseInt(list.gst)).toLocaleString("en-IN") %>/night <sup> (incl. 18% GST)</b><br><br>
                
                <!-- Tax Toggle -->
                <div class="tax_toggle mb-4">
                    <div class="form-check-reverse form-switch cursor">
                        <input class="form-check-input cursor" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label cursor" for="flexSwitchCheckDefault">
                            <span class="material-symbols-outlined">
                                currency_exchange
                            </span>
                        </label>
                    </div>
                </div>
                
                <!-- Location Details -->
                <%= list.location %><br>
                <%= list.country %>
                <span style="color: #fe424d; font-weight: bolder;" class="material-symbols-outlined">
                    location_on
                </span><br><br>
            </p>
        </div>

        <!-- Edit/Delete Buttons for Listing Owner -->
        <% if(currUser && currUser._id.equals(list.owner._id)) { %>
            <div class="del-opacity mb-5">
                <form class="show-form-ed" method="GET" action="/listings/<%= list._id %>/edit">
                    <button class="show-ed disabled-element">Edit
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                </form>
                <div class="show-div"> 
                    <button class="del disabled-element">
                        Delete
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
            </div>
        <% } %>

        <!-- Delete Confirmation Section -->
        <div class="del_div">
            <p class="p">
                <b class="del-txt">Are you sure you want to DELETE this Nest?</b><br>
                Because you can't undo this.
            </p>
            <button class="cancel">Cancel</button>
            <form class="show-form" method="POST" action="/listings/<%= list._id %>?_method=DELETE">
                <button class="del_btn">Delete &#128465;</button>
            </form>
        </div>
    </div>

    <!-- Review Section -->
    <div class="riview del-opacity">
        <% if(currUser && !currUser._id.equals(list.owner._id)) { %>
            <hr>
            <h4><b>Leave a Review</b></h4>
            <form method="POST" action="/listings/<%= list._id %>/reviews" novalidate class="needs-validation">
                <br>
                <!-- Rating Input -->
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                
                <!-- Comment Input -->
                <div>
                    <label for="comment" class="form-label">Comment</label>
                    <textarea required class="form-control disabled-element input" name="review[comment]" id="comment" cols="30" rows="5"></textarea>
                    <div class="invalid-feedback">add comment</div>
                </div>
                <br>
                <button id="loadBtn" class="show-ed disabled-element"><b>Submit</b> <div
                    class="loading-indicator" style="display: none;">
                    <div class="spinner-border text-light" style="width: 20px !important; height: 20px !important;"
                        role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div></button>
                <br>
            </form>
            <hr>
        <% } %>

        <!-- Display Reviews -->
        <% if(list.reviews.length > 0) { %>
            <div class="row col-12 del-opacity">
                <h4>All Reviews</h4>
                <% for(review of list.reviews) { %>
                    <div class=" card col-12 col-sm-5 ms-3 mb-3">
                        <div class="card-body ">
                            <% if(currUser && currUser._id.equals(review.author._id)) { %>
                                <h5 class="card-title"><b>You</b></h5>
                            <% } else { %>
                                <h5 class="card-title"><b><%= review.author.username %></b></h5>
                            <% } %>
                            <p class="starability-result" data-rating="<%= review.rating %>">
                            </p>
                            <p class="card-text"><%= review.comment %></p>
                            <% if(currUser && currUser._id.equals(review.author._id)) { %>
                                <form method="POST" action="/listings/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="material-symbols-outlined review-del disabled-element">delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>

    <!-- Map Section -->
    <div class="del-opacity col-12 mb-3">
        <hr>
        <h3>Where you’ll be</h3>
        <div id="myMap"></div>
    </div>
</div>
</div>

<!-- Include Show.js -->
<script src="/JS/show.js"></script>

<!-- Include Feature.js -->
<script src="/JS/feature.js"></script>